@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(106, 171, 224);
    overflow-x: hidden;
}

main {
    font-family: "Moderustic", sans-serif;
    padding: 10px;
    margin: 0px auto;
    max-width: 2000px;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.76);
}

.portrait {
   width: 50%;
   height: auto;
}
.portrait img{
    width: 100%;
    display: block;
}

.intro-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 45%;
    background-color: transparent;
    gap: 5px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

.intro-text h1 {
    font-size: 2.7em;
}
.name {
    color: green;
}

.intro-text h2 {
    font-size: 1.7em;
}

.intro-text p {
    font-size: 1.3em;
}

.projects-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.projects-container h1 {
    margin: 20px;
    font-size: 2.7em;
}
.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    justify-items: center;
    row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
    margin: 15px 0px;
    background-color: white;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.603);
}

.project-ss {
    max-width: 500px;
    height: auto;
}

.card-info {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    gap: 10px;
    padding: 5px 30px 0px 30px;
}

.card-info h2 {
    margin-right: auto;
}

.card-info img {
    width: 30px;
}

.card-description {
    padding: 0px 30px 30px 30px;
    font-size: 1.15em;
}
