@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    font-family: "Moderustic", sans-serif;
}

main {
    padding: 10px;
    margin: 0px auto;
    max-width: 1999px;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
}

.portrait {
   width: 50%;
   height: auto;
}
.portrait img{
    width: 100%;
    display: block;
}

.intro-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 45%;
    background-color: transparent;
    gap: 7px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

.intro-text h1 {
    font-size: 2.7em;
}
.name {
    color: green;
}

.intro-text h2 {
    font-size: 1.7em;
}

.intro-text p {
    font-size: 1.3em;
}

.projects-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: 75px 0px;
}
.projects-container h1 {
    margin-bottom: 20px;
    font-size: 2.7em;
}
.grid-container {
    display: grid;
    width: 103.5%;
    grid-template-columns: repeat(auto-fit, minmax(518px, 1fr));
    justify-items: center;
    row-gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
   
}

.project-ss {
    height: auto;
}

.card-info {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    gap: 10px;
    padding: 5px 30px 0px 30px;
}

.card-info h2 {
    margin-right: auto;
}

.card-info img {
    width: 30px;
}

.card-description {
    padding: 0px 30px 10% 30px;
    font-size: 1.15em;
}

footer {
    background-color: rgb(63, 156, 125);
}

.footer-section {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    width: 90%;
    margin: 0px auto;
    padding: 40px 0px;
    max-width: 1999px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    max-width: 400px;
    gap: 33px;
}

.footer-info h1{
   font-size: 2.2em;
   text-decoration-line: underline;
}
.footer-info h2 {
    font-size: 1.5em;
}

.contact-footer {
    font-size: 1.1em;
}

.contact-footer img {
    width: 50px;
}
.contact-footer p {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 8px;
}

.footer-links img {
    width: 55px;
    margin-right: 15px;
}

.footer-section picture {
    width: 60%;
    text-align: end;
}

.footer-section picture img {
    width: 100%;
    display: block;
}

@media screen and (max-width: 1112px) {
    body, footer, main {
        font-size: 0.95em;
    }

    .intro {
        align-items: center;
        box-shadow: none;
        flex-direction: column;
    }
    
    .portrait, .intro-text {
       width: 90%;
    }

    .intro-text {
        padding: 30px;
    }

    .intro-text{
        text-align: center;
    }
    .intro-text p {
        width: 80%;
        align-self: center;
    }

    .projects-container {
        margin-top: 37px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }


    .footer-info {
        gap: 18px;
        width: 35%;
    }

    .contact-footer img {
        max-width: 35px;
    }

    .contact-footer p {
        word-break: break-all;
   }

    .footer-links img {
        max-width: 45px;
    }

   

    .footer-section picture {
        width: 55%;
    }

}

@media screen and (max-width: 750px) {

   

    .footer-section {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-bottom: 0px;
    }
    .footer-info {
        max-width: 350px;
        width: 100%;
        text-align: center;
    }

    .contact-footer p {
        justify-content: center;
    }

    .footer-section picture {
        width: 100%;
    }

    
    
}

@media screen and (max-width: 500px) {

     body, footer, main {
        font-size: 0.875em;
    }

   

   
}